---
import "./monitor.css";
import BootScreen from "./BootScreen.astro";
import MonitorVideo from "./MonitorVideo.astro";
---

<div class="monitor">

    <div class="bezel">

        <div id="monitorDisplay"
            class="display">

            <div id="powerOverlay"
                class="power-overlay">
            </div>

            <div class="screen">

                <BootScreen />

                <MonitorVideo />

                <div class="glass"></div>

                <div class="reflection"></div>

                <div id="monitorGlow"
                    class="glow">
                </div>

            </div>

        </div>

        <!-- Unterer Monitorrahmen -->
        <div class="chin">

            <span class="logo">

                Heinz-Jörg Vornholt

            </span>

        </div>

    </div>

    <div class="stand"></div>

    <div class="base"></div>

</div>

<script src="./monitor.ts"></script>

