---
import "./monitor.css";
---

<div class="monitor">

    <div class="bezel">

        <div class="display">

            <div class="display-placeholder">

                Developer Monitor

            </div>

        </div>

    </div>

    <div class="stand"></div>

    <div class="base"></div>

</div>