---
import "./monitor-video.css";
---

<div class="monitor-video" id="monitorVideo">

    <video
        id="portfolioVideo"
        muted
        autoplay
        playsinline
        preload="auto">

        <source src="/monitor/videos/portfolio.mp4" type="video/mp4">

    </video>

</div>