/* ==========================================
   Heinz-Jörg Vornholt
   Portfolio Website
========================================== */

:root{

    --bg:#ffffff;
    --section:#f7f9fc;

    --text:#16304a;
    --accent:#14a58b;

    --shadow:0 15px 35px rgba(20,40,60,.08);

    --radius:18px;

    --maxwidth:1180px;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

body{

    font-family:"Manrope",sans-serif;

    color:var(--text);

    background:var(--bg);

    line-height:1.75;

    letter-spacing:.15px;

}

img{

    display:block;

    max-width:100%;

}

a{

    color:inherit;

    text-decoration:none;

}

.container{

    width:100%;

    max-width:var(--maxwidth);

    margin:0 auto;

    padding:0 35px;

}